#no {
    -fx-effect: none;
}

#no:hover, #no:focus, #no:active {
    -fx-effect: dropshadow(three-pass-box, grey, 19, 0, 0.5, 0);
}

#yes {
    -fx-effect: none;
}

#yes:hover, #yes:focus, #yes:active {
    -fx-effect: dropshadow(three-pass-box, grey, 19, 0, 0.5, 0);
}
